<a href="https://colab.research.google.com/github/ronakmarkus8-t/Python-Program/blob/main/pythonlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Converts the first character to uppercase

In [ ]:
user_input = input("Enter a string: ")
if user_input:
    result = user_input[0].upper() + user_input[1:]
    print("Modified string:", result)
else:
    print("You entered an empty string.")

Enter a string: hello
Modified string: Hello

Converts string into lowercase

In [ ]:
user_input = input("Enter a string: ")
lowercase_string = user_input.lower()
print("Lowercase version:", lowercase_string)

Enter a string: Hello
Lowercase version: hello

Returns a centered string

In [ ]:

user_input = input("Enter a string to center: ")
centered_string = user_input.center(width)
print("Centered string:", centered_string)

Enter a string to center: Saviour
Centered string: Saviour

Returns the number of times a specified value occurs in a string

In [ ]:
user_string = input("Enter string ")
substring_to_count = input("Enter the substring to count: ")

count = user_string.count(substring_to_count)

print(f"The substring '{substring_to_count}' occurs {count} times in the main string.")

Enter string hello
Enter the substring to count: l
The substring 'l' occurs 2 times in the main string.

returns an encoded version of the string

In [ ]:
user_string = input("Enter a string to encode: ")
encoded_string = user_string.encode('utf-8')
print("Encoded string:", encoded_string)

Enter a string to encode: Hello World
Encoded string: b'Hello World'

Swap two numbers using temp variable

In [ ]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
print("Before swapping:")
print("First number:", num1)
print("Second number:", num2)
temp = num1
num1 = num2
num2 = temp
print("\nAfter swapping:")
print("First number:", num1)
print("Second number:", num2)

Enter the first number: 56
Enter the second number: 45
Before swapping:
First number: 56
Second number: 45

After swapping:
First number: 45
Second number: 56

Print table of a number

In [ ]:
num = int(input("Enter a number to print its table: "))

print(f"Multiplication Table of {num}:")
for i in range(1, 11):
   print(f"{num} x {i} = {num * i}")

Enter a number to print its table: 2
Multiplication Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

factorial of a number using loop

In [ ]:
num = int(input("Enter a non-negative integer: "))
if num < 0:
   print("Factorial is not defined for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   factorial = 1
   for i in range(1, num + 1):
       factorial = factorial * i
   print(f"The factorial of {num} is {factorial}")

Enter a non-negative integer: 6
The factorial of 6 is 720

In [ ]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

Enter the number of rows: 4
1
12
123
1234

In [ ]:
rows = int(input("Enter the number of rows: "))
num = 1
for i in range(1, rows + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

Enter the number of rows: 4
1
2 3
4 5 6
7 8 9 10

In [ ]:
rows = int(input("Enter the number of rows: "))
for i in range(rows, 0, -1):
    print("*" * i)

Enter the number of rows: 4
****
***
**
*

In [ ]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    print("*" * i)

Enter the number of rows: 4
*
**
***
****

Fibonacci series

In [ ]:
n = int(input("Enter the number of terms for Fibonacci series: "))
n1, n2 = 0, 1
count = 0

if n <= 0:
   print("Please enter a positive integer")
elif n == 1:
   print("Fibonacci sequence up to", n, ":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

Enter the number of terms for Fibonacci series: 23
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

Reverse a number

In [ ]:
num = int(input("Enter a number to reverse: "))
reversed_num = 0

while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed number:", reversed_num)

Enter a number to reverse: 56
Reversed number: 65

Count Digits in a Number

In [ ]:
num = int(input("Enter an integer: "))
count = 0
temp = num

if temp == 0:
    count = 1
else:
    while temp > 0:
        temp //= 10
        count += 1

print(f"The number of digits in {num} is: {count}")

Enter an integer: 245524
The number of digits in 245524 is: 6

Check Leap Year

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
   print(f"{year} is a leap year")
else:
   print(f"{year} is not a leap year")

Enter a year: 2005
2005 is not a leap year

Sum of Digits

In [ ]:
num = int (input("Enter a number: "))
sum_of_digits = 0

while num > 0:
    digit = num % 10
    sum_of_digits += digit
    num //= 10

print("Sum of digit:", sum_of_digits)

Enter a number: 526
Sum of digit: 13

Palindrome Number

In [ ]:
num = int(input("Enter a number: "))
temp = num
reverse = 0

while temp > 0:
    digit = temp % 10
    reverse = reverse * 10 + digit
    temp //= 10

if num == reverse:
    print(f"{num} is a palindrome number")
else:
    print(f"{num} is not a palindrome number")

Enter a number: 45
45 is not a palindrome number

Armstrong Number

In [ ]:
num = int(input("Enter a number: "))
sum_of_cubes = 0
temp = num

while temp > 0:
    digit = temp % 10
    sum_of_cubes += digit ** 3
    temp //= 10

if num == sum_of_cubes:
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is not an Armstrong number")

Enter a number: 56
56 is not an Armstrong number

Greatest Common Divisor (GCD)

In [ ]:
import math

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

gcd = math.gcd(num1, num2)

print(f"The GCD of {num1} and {num2} is: {gcd}")

Enter first number: 55
Enter second number: 3
The GCD of 55 and 3 is: 1

create and display a list

In [ ]:
my_list = [1, 2, 3, 4, 5]
print("My list:", my_list)

My list: [1, 2, 3, 4, 5]

Find length of a list

In [ ]:
list_length = len(my_list)
print("Length of the list:", list_length)

Length of the list: 5

Access elements using indexing and slicing

In [ ]:
first_element = my_list[0]
second_element = my_list[1]
last_element = my_list[-1]

print("First element:", first_element)
print("Second element:", second_element)
print("Last element:", last_element)

subset_of_list = my_list[1:4]
print("Subset of list (from index 1 to 3):", subset_of_list)

First element: 1
Second element: 2
Last element: 5
Subset of list (from index 1 to 3): [2, 3, 4]

Add an element at the end of a list(append)

In [ ]:
my_list.append(6)
print("List after appending:", my_list)

List after appending: [1, 2, 3, 4, 5, 6]

Insert an element at a specific position

In [ ]:
my_list.insert(2, 10)
print("List after inserting:", my_list)

List after inserting: [1, 2, 10, 3, 4, 5, 6]

Remove an element from a list

In [ ]:
my_list.remove(10)
print("List after removing 10:", my_list)

List after removing 10: [1, 2, 3, 4, 5, 6]

sort a list in ascending/decending order

In [ ]:
my_list.sort()
print("List after sorting in ascending order:", my_list)

my_list.sort(reverse=True)
print("List after sorting in descending order:", my_list)

List after sorting in ascending order: [1, 2, 3, 4, 5, 6]
List after sorting in descending order: [6, 5, 4, 3, 2, 1]

Find maximum and minimum element in a list

In [ ]:
max_element = max(my_list)
print("Maximum element in the list:", max_element)

min_element = min(my_list)
print("Minimum element in the list:", min_element)

Maximum element in the list: 6
Minimum element in the list: 1

Find the sum of all elements in a list

In [ ]:
total_sum = sum(my_list)
print("Sum of all elements in the list:", total_sum)

Sum of all elements in the list: 21

reverse a list

In [ ]:
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [1, 2, 3, 4, 5, 6]

count occurrences of an element in a list

In [ ]:
element_to_count = int(input("Enter the element to count: "))
count_of_element = my_list.count(element_to_count)
print(f"The element {element_to_count} appears {count_of_element} times in the list.")

Enter the element to count: 5
The element 5 appears 1 times in the list.

Check if an element exists in a list

In [ ]:
element_to_check = int(input("Enter the element to check if it exists in the list: "))
if element_to_check in my_list:
    print(f"The element {element_to_check} exists in the list.")
else:
    print(f"The element {element_to_check} does not exist in the list.")

Enter the element to check if it exists in the list: 44
The element 44 does not exist in the list.

Convert a list into a set (to remove duplicates)

In [ ]:
my_set = set(my_list)
print("List converted to a set:", my_set)

List converted to a set: {1, 2, 3, 4, 5, 6}

copy one list to another

In [ ]:
copied_list = my_list[:]
print("Original list:", my_list)
print("Copied list:", copied_list)

Original list: [1, 2, 3, 4, 5, 6]
Copied list: [1, 2, 3, 4, 5, 6]

Merge two lists into one

In [ ]:
list2 = [7, 8, 9]
merged_list = my_list + list2

print("List 1:", my_list)
print("List 2:", list2)
print("Merged list:", merged_list)

List 1: [1, 2, 3, 4, 5, 6]
List 2: [7, 8, 9]
Merged list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

create a tuple and print its elements

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
print("My tuple:", my_tuple)

My tuple: (10, 20, 30, 40, 50)

access tuple elements using indexing and slicing

In [ ]:
first_element = my_tuple[0]
second_element = my_tuple[1]
last_element = my_tuple[-1]

print("First element:", first_element)
print("Second element:", second_element)
print("Last element:", last_element)

subset_of_tuple = my_tuple[1:4]
print("Subset of tuple (from index 1 to 3):", subset_of_tuple)

First element: 10
Second element: 20
Last element: 50
Subset of tuple (from index 1 to 3): (20, 30, 40)

find length of a tuple using len()

In [ ]:
tuple_length = len(my_tuple)
print("Length of the tuple:", tuple_length)

Length of the tuple: 5

Check if an element exists in a tuple using in operator

In [ ]:
element_to_check = int(input("Enter the element to check if it exists in the tuple: "))
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

Enter the element to check if it exists in the tuple: 20
20 exists in the tuple.

Concatenate two tuples and display the result

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Concatenated tuple:", concatenated_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Concatenated tuple: (1, 2, 3, 4, 5, 6)

Repeat a tuple multiple times using*

In [ ]:
repeated_tuple = my_tuple * 3
print("Tuple repeated 3 times:", repeated_tuple)

Tuple repeated 3 times: (10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

convert list to tuple using tuple()

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple_from_list = tuple(my_list)
print("List converted to a tuple:", my_tuple_from_list)

List converted to a tuple: (1, 2, 3, 4, 5)

Unpack a tuple into variables

In [ ]:
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("Unpacked variables:")
print("a:", a)
print("b:", b)
print("c:", c)

Unpacked variables:
a: 10
b: 20
c: 30

swap two numbers using tuple unpacking

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print("Before swapping:")
print("First number:", num1)
print("Second number:", num2)

num1, num2 = num2, num1

print("\nAfter swapping:")
print("First number:", num1)
print("Second number:", num2)

Enter first number: 12
Enter second number: 52
Before swapping:
First number: 12
Second number: 52

After swapping:
First number: 52
Second number: 12

Find sum, min, and max of numeric tuple elements

In [ ]:
my_numeric_tuple = (10, 5, 25, 15, 30)

sum_of_elements = sum(my_numeric_tuple)
min_element = min(my_numeric_tuple)
max_element = max(my_numeric_tuple)

print("Numeric tuple:", my_numeric_tuple)
print("Sum of elements:", sum_of_elements)
print("Minimum element:", min_element)
print("Maximum element:", max_element)

Numeric tuple: (10, 5, 25, 15, 30)
Sum of elements: 85
Minimum element: 5
Maximum element: 30

count occurrences of an element in a tuple using count()

In [ ]:
element_to_count = int(input("Enter the element to count: "))
count_of_element = my_tuple.count(element_to_count)
print(f"The element {element_to_count} appears {count_of_element} times in the tuple.")

Enter the element to count: 4
The element 4 appears 0 times in the tuple.

find index of an element in a tuple using index()

In [ ]:
element_to_find = int(input("Enter the element to find its index: "))
try:
    index_of_element = my_tuple.index(element_to_find)
    print(f"The element {element_to_find} is at index {index_of_element} in the tuple.")
except ValueError:
    print(f"The element {element_to_find} is not found in the tuple.")

Enter the element to find its index: 10
The element 10 is at index 0 in the tuple.

sort a tuple on ascending and descending order

In [ ]:
# Tuples are immutable, so we convert to a list to sort
my_list_from_tuple = list(my_tuple)

# Sort in ascending order
my_list_from_tuple.sort()
sorted_ascending_tuple = tuple(my_list_from_tuple)
print("Tuple sorted in ascending order:", sorted_ascending_tuple)

# Sort in descending order
my_list_from_tuple.sort(reverse=True)
sorted_descending_tuple = tuple(my_list_from_tuple)
print("Tuple sorted in descending order:", sorted_descending_tuple)

Tuple sorted in ascending order: (10, 20, 30)
Tuple sorted in descending order: (30, 20, 10)

convert tuple of tuples to dictionary

In [ ]:
tuple_of_tuples = (('apple', 1), ('banana', 2), ('cherry', 3))
my_dict = dict(tuple_of_tuples)
print("Tuple of tuples:", tuple_of_tuples)
print("Dictionary created from tuple of tuples:", my_dict)

Tuple of tuples: (('apple', 1), ('banana', 2), ('cherry', 3))
Dictionary created from tuple of tuples: {'apple': 1, 'banana': 2, 'cherry': 3}

find duplicate elements in tuple

In [ ]:
my_tuple = (1, 2, 3, 2, 1, 4, 5, 4)
duplicates = []
seen = set()

for element in my_tuple:
    if element in seen:
        duplicates.append(element)
    else:
        seen.add(element)

print("Original tuple:", my_tuple)
print("Duplicate elements:", list(set(duplicates)))

Original tuple: (1, 2, 3, 2, 1, 4, 5, 4)
Duplicate elements: [1, 2, 4]

check if two tuples are equal

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Tuple 3:", tuple3)

if tuple1 == tuple2:
    print("Tuple 1 and Tuple 2 are equal.")
else:
    print("Tuple 1 and Tuple 2 are not equal.")

if tuple1 == tuple3:
    print("Tuple 1 and Tuple 3 are equal.")
else:
    print("Tuple 1 and Tuple 3 are not equal.")

Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 3)
Tuple 3: (4, 5, 6)
Tuple 1 and Tuple 2 are equal.
Tuple 1 and Tuple 3 are not equal.

remove duplicates from a tuple by converting to set

In [ ]:
my_tuple_with_duplicates = (1, 2, 2, 3, 4, 4, 5)
set_from_tuple = set(my_tuple_with_duplicates)
tuple_without_duplicates = tuple(set_from_tuple)

print("Original tuple:", my_tuple_with_duplicates)
print("Tuple without duplicates:", tuple_without_duplicates)

Original tuple: (1, 2, 2, 3, 4, 4, 5)
Tuple without duplicates: (1, 2, 3, 4, 5)

merge multiple tuples into one

In [ ]:
tuple1 = (1, 2)
tuple2 = (3, 4)
tuple3 = (5, 6)

merged_tuple = tuple1 + tuple2 + tuple3

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Tuple 3:", tuple3)
print("Merged tuple:", merged_tuple)

Tuple 1: (1, 2)
Tuple 2: (3, 4)
Tuple 3: (5, 6)
Merged tuple: (1, 2, 3, 4, 5, 6)

find the element wise sum of two tuples

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

if len(tuple1) != len(tuple2):
    print("Tuples must have the same length for element-wise sum.")
else:
    element_wise_sum = tuple(x + y for x, y in zip(tuple1, tuple2))
    print("Tuple 1:", tuple1)
    print("Tuple 2:", tuple2)
    print("Element-wise sum:", element_wise_sum)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Element-wise sum: (5, 7, 9)

check if tuple is plaindrome (same forward and backward)

In [ ]:
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]

print("Original tuple:", my_tuple)
if is_palindrome:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

Original tuple: (1, 2, 3, 2, 1)
The tuple is a palindrome.

Function of integer

In [ ]:
def is_even_or_odd(number):
    """Checks if a number is even or odd."""
    if number % 2 == 0:
        return f"{number} is even."
    else:
        return f"{number} is odd."

# Example usage
num = int(input("Enter an integer: "))
print(is_even_or_odd(num))

Enter an integer: 45
45 is odd.

Function of Float

In [ ]:
import math

def square_root_of_float(number):
    """Calculates the square root of a float."""
    if number >= 0:
        return math.sqrt(number)
    else:
        return "Cannot calculate the square root of a negative number."

# Example usage
float_num = float(input("Enter a float number: "))
print(f"The square root is: {square_root_of_float(float_num)}")

Enter a float number: 2.000
The square root is: 1.4142135623730951

Function of complex numbers

In [ ]:
def add_complex_numbers(num1, num2):
    """Adds two complex numbers."""
    return num1 + num2

# Example usage
complex_num1 = 3 + 4j
complex_num2 = 1 - 2j
sum_of_complex = add_complex_numbers(complex_num1, complex_num2)
print(f"The sum of {complex_num1} and {complex_num2} is: {sum_of_complex}")

The sum of (3+4j) and (1-2j) is: (4+2j)

function of boolean

In [ ]:
def check_truthiness(value):
  """Checks the truthiness of a boolean value."""
  if value:
    return "The value is True."
  else:
    return "The value is False."

# Example usage with user input
user_input = input("Enter True or False: ")
# Convert the user input string to a boolean
if user_input.lower() == 'true':
  my_boolean = True
elif user_input.lower() == 'false':
  my_boolean = False
else:
  print("Invalid input. Please enter True or False.")
  my_boolean = None # Assign None for invalid input

if my_boolean is not None:
  print(check_truthiness(my_boolean))

Enter True or False: true
The value is True.

Function of String

In [ ]:
def reverse_string(text):
    """Reverses a given string."""
    return text[::-1]

# Example usage with user input
user_string = input("Enter a string to reverse: ")
reversed_string = reverse_string(user_string)
print("Reversed string:", reversed_string)

Enter a string to reverse: Hello
Reversed string: olleH

Function of String Operation

In [ ]:
def convert_to_uppercase(text):
    """Converts a string to uppercase."""
    return text.upper()

# Example usage with user input
user_string = input("Enter a string to convert to uppercase: ")
uppercase_string = convert_to_uppercase(user_string)
print("Uppercase string:", uppercase_string)

Enter a string to convert to uppercase: hello
Uppercase string: HELLO

merge two strings

In [ ]:
def merge_strings(str1, str2):
    """Merges two strings."""
    return str1 + str2

# Example usage with user input
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
merged_string = merge_strings(string1, string2)
print("Merged string:", merged_string)

Enter the first string: good
Enter the second string: morning
Merged string: goodmorning

Indexing & Slicing

In [ ]:
my_string = "Hello, World!"

# Indexing
first_character = my_string[0]
print("First character:", first_character)

last_character = my_string[-1]
print("Last character:", last_character)

# Slicing
substring = my_string[0:5]  # Characters from index 0 up to (but not including) index 5
print("Substring (first 5 characters):", substring)

substring_from_index = my_string[7:] # Characters from index 7 to the end
print("Substring from index 7:", substring_from_index)

substring_to_index = my_string[:5] # Characters from the beginning up to (but not including) index 5
print("Substring up to index 5:", substring_to_index)

reversed_string = my_string[::-1] # Reverse the string
print("Reversed string:", reversed_string)

First character: H
Last character: !
Substring (first 5 characters): Hello
Substring from index 7: World!
Substring up to index 5: Hello
Reversed string: !dlroW ,olleH

String Function

In [ ]:
my_string = "Hello World, This is a test string."

# len() - returns the length of the string
string_length = len(my_string)
print("Length of the string:", string_length)

# .lower() - converts the string to lowercase
lowercase_string = my_string.lower()
print("Lowercase string:", lowercase_string)

# .upper() - converts the string to uppercase
uppercase_string = my_string.upper()
print("Uppercase string:", uppercase_string)

# .split() - splits the string into a list of substrings
split_string = my_string.split(" ") # Split by space
print("String split by space:", split_string)

# .replace() - replaces occurrences of a substring with another substring
replaced_string = my_string.replace("test", "example")
print("String with 'test' replaced by 'example':", replaced_string)

Length of the string: 35
Lowercase string: hello world, this is a test string.
Uppercase string: HELLO WORLD, THIS IS A TEST STRING.
String split by space: ['Hello', 'World,', 'This', 'is', 'a', 'test', 'string.']
String with 'test' replaced by 'example': Hello World, This is a example string.

Tupple operations

In [ ]:
# Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Display the tuple
print("My tuple:", my_tuple)

My tuple: (10, 20, 30, 40, 50)

Write a program for loop to calculate the value of an investment input an inital value of investment and annual interest and calculate the value of investment over time

In [ ]:
initial_investment = float(input("Enter the initial investment amount: "))
annual_interest_rate = float(input("Enter the annual interest rate: "))
number_of_years = int(input("Enter the number of years: "))

investment_value = initial_investment

print(f"\nInitial investment: ${initial_investment:.2f}")
print(f"Annual interest rate: {annual_interest_rate:.2%}")
print(f"Number of years: {number_of_years}\n")
print("Year | Investment Value")
print("-----|------------------")

for year in range(1, number_of_years + 1):
    investment_value = investment_value * (1 + annual_interest_rate)
    print(f"{year:<4} | ${investment_value:.2f}")

Enter the initial investment amount: 2300
Enter the annual interest rate: 5
Enter the number of years: 3

Initial investment: $2300.00
Annual interest rate: 500.00%
Number of years: 3

Year | Investment Value
-----|------------------
1    | $13800.00
2    | $82800.00
3    | $496800.00

Write a program accept a string from user and redisplays the same string after vowels from it

In [ ]:
user_string = input("Enter a string: ")
vowels = "aeiouAEIOU"
string_without_vowels = ""

for char in user_string:
    if char not in vowels:
        string_without_vowels += char

print("String without vowels:", string_without_vowels)

Enter a string: water
String without vowels: wtr

Write a program that counts the occurences of character in a string do not use built in count function

In [ ]:
user_string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")
count = 0

for char in user_string:
    if char == char_to_count:
        count += 1

print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string: Good Morning
Enter the character to count: o
The character 'o' appears 3 times in the string.

Design and implement a menu driven student cousre management system in python using set data sturctures the system should stoire student names along with the courses they are erolled in it must demonstrate various set operations such as union intersection difference symmetric difference subset superset and disjoint checks

In [ ]:
def add_student(students_db):
    name = input("Enter student name: ")
    courses_input = input("Enter courses (comma-separated): ")
    courses = set([course.strip() for course in courses_input.split(',')])
    students_db[name] = courses
    print(f"Student '{name}' added with courses: {courses}")

def display_students(students_db):
    print("\n--- Student Enrollment ---")
    if students_db:
        for name, courses in students_db.items():
            print(f"{name}: {courses}")
    else:
        print("No students added yet.")
    print("--------------------------")

def find_students_in_common_courses(students_db):
    course1 = input("Enter the first course: ")
    course2 = input("Enter the second course: ")
    common_students = set()
    for name, courses in students_db.items():
        if course1 in courses and course2 in courses:
            common_students.add(name)

    if common_students:
        print(f"\nStudents enrolled in both {course1} and {course2}: {common_students}")
    else:
        print(f"\nNo students enrolled in both {course1} and {course2}.")

def main():
    students_db = {}

    while True:
        print("\n--- Student Course Management Menu ---")
        print("1. Add Student")
        print("2. Display All Students and Courses")
        print("3. Find Students in Common Courses")
        print("4. Exit")

        choice = input("Enter your choice: ")

        if choice == '1':
            add_student(students_db)
        elif choice == '2':
            display_students(students_db)
        elif choice == '3':
            find_students_in_common_courses(students_db)
        elif choice == '4':
            print("Exiting program. Goodbye!")
            break
        else:
            print("Invalid choice. Please try again.")

if __name__ == "__main__":
    main()

--- Student Course Management Menu ---
1. Add Student
2. Display All Students and Courses
3. Find Students in Common Courses
4. Exit
Enter your choice: 1
Enter student name: Luis Ford
Enter courses (comma-separated): Dcan , Maths
Student 'Luis Ford' added with courses: {'Maths', 'Dcan'}

--- Student Course Management Menu ---
1. Add Student
2. Display All Students and Courses
3. Find Students in Common Courses
4. Exit
Enter your choice: 2

--- Student Enrollment ---
Luis Ford: {'Maths', 'Dcan'}
--------------------------

--- Student Course Management Menu ---
1. Add Student
2. Display All Students and Courses
3. Find Students in Common Courses
4. Exit
Enter your choice: 3
Enter the first course: maths
Enter the second course: dcan

No students enrolled in both maths and dcan.

--- Student Course Management Menu ---
1. Add Student
2. Display All Students and Courses
3. Find Students in Common Courses
4. Exit
Enter your choice: 3
Enter the first course: Maths
Enter the second course: Dcan

Students enrolled in both Maths and Dcan: {'Luis Ford'}

--- Student Course Management Menu ---
1. Add Student
2. Display All Students and Courses
3. Find Students in Common Courses
4. Exit
Enter your choice: 4
Exiting program. Goodbye!

In [ ]:
students = {}

while True:
  print("\n======STUDENT COURSE MANAGEMENT SYSTEM======")
  print("1. Add Student and their Courses")
  print("2. Show All Students with Courses")
  print("3. Exit")

  choice = input("Enter your choice: ")

  if choice == "1":
    name = input("Enter student name: ")
    courses = input("Enter courses (comma-separated): ").split(",")
    students[name] = set(course.strip() for course in courses)
    print ("Student added successfully")
  elif choice == "2": # Changed from else if to elif
    if not students:
      print("No students found!")
    else:
      for name, courses in students.items(): # Removed semicolon
        print(name,":",courses)
  elif choice == "3": # Changed from else if to elif
    print("Exiting program. Goodbye!")
    break
  else:
    print("Invalid choice. Please try again.")

======STUDENT COURSE MANAGEMENT SYSTEM======
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit
Enter your choice: 1
Enter student name: ritik